.bg-image{
    background-image: url("beach.jpg");
    height:100vh;
    background-size: cover;
    text-align: center;
}
.card{
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}